body {
    padding: 40px 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
}

.grid > article {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    padding: 5% 0;
}

article > div {
    padding: 10% 0;
    width: 200px;
}

.hide{
    width: 100%;
    height: 100%;
    background-color: saddlebrown;
    z-index: 200;
    width: 306px;
    height: 171px;
}

.hide > div {
    display: none;
}